.row-header {
    margin:0px auto;
    padding: 0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px ;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #facac9;
    margin: 0px auto;
    padding: 20px 0px;
}

.jumbotron {
    padding: 70px 30px;
    margin: 0px auto;
    background: #feb2b0;
    color: black;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: darkslategrey;
}

body {
    padding: 50px 0px 0px 0px ;
    z-index: 0px;

}

.navbar-dark {
    background-color: #ff9b99;
}